<!DOCTYPE html>
<html lang="it" role="document">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= pageTitle %></title>

  <link rel="icon" href="/images/logo.jpeg" type="image/jpeg" />
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/leaflet/leaflet.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
</head>

<body class="d-flex flex-column vh-100">
  <header class="sticky-top"><%- include("../partials/navbar") %></header>
  <main class="container mt-5">
    <%- include("../partials/flash") %> <%- body %>
  </main>
  <%- include("../partials/footer") %>
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/scripts/validForm.js"></script>
  <script src="/leaflet/leaflet.js"></script>
</body>

</html>